<div>
<div fxLayoutGap="25px"  fxLayoutAlign="center center">
  <button style="width:70px; height:50px;" color="primary" mat-raised-button><mat-icon>man_2</mat-icon></button>
  <button style="width:70px; height:50px;" color="primary" mat-raised-button><mat-icon>woman_2</mat-icon></button>
  <button style="width:70px; height:50px;" color="primary" mat-raised-button><mat-icon>pets</mat-icon></button>
  <button style="width:70px; height:50px;" color="primary" mat-raised-button><mat-icon>checkroom</mat-icon></button>
</div>
<mat-card style="margin-left:10%; margin-right:10%;">
<div fxLayoutAlign="center center">
  <div fxFlex="50%" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
  <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" *ngFor="let i of vector;"  fxFlex >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{i.titulo}}</mat-card-title>
      <mat-card-subtitle>SubTitle</mat-card-subtitle>
    </mat-card-header>
    <div fxLayoutAlign="center center">
      <img mat-card-image style="width: 200px; height:200px" [src]=i.imagen alt="Photo of a Shiba Inu">
    </div>
    <mat-card-content>
      <p>
        {{i.descripcion}}
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <button mat-button (click)="mensajeClick(i.titulo)">
        <a mat-raised-button  [href]="hrefvariable">Whatssap</a>
      </button>
    </mat-card-actions>
  </mat-card>
  </div>

</div>

</mat-card>
</div>
<!--<div fxFlex style="width: 300px; height:300px">
  <h1>Angular 10 Material Carousel Slider</h1>

    <mat-carousel
    timings="200ms ease-in"
    [autoplay]="true"

    [useKeyboard]="true"
    [useMouseWheel]="false"
    color="primary"
  >
    <mat-carousel-slide
      *ngFor="let slide of slides; let i = index"
      [image]="slide.image"
      overlayColor="primary"
      [hideOverlay]="false"
    ></mat-carousel-slide>
  </mat-carousel>
</div>-->
